.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    background-color: var(--fundo);
    padding: 25px;
    border-radius: 8px;
}

.campo{
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 8px;
}

.botao{
    background-color: var(--fundo-conteiner-2);
    color: var(--borda-2);
    padding: 10px;
    border: none;
    border-radius: 10px;
}